In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf, round, max, avg, to_timestamp, dayofweek, date_format, expr, lit
from pyspark.sql.types import FloatType
import requests
from pyspark.sql.window import Window
import pyspark.sql.functions as F
from haversine import haversine, Unit

In [3]:
spark = SparkSession.builder.appName("projectFirst").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
23/09/05 18:33:02 WARN Utils: Your hostname, SUSHAN resolves to a loopback address: 127.0.1.1; using 172.31.76.59 instead (on interface eth0)
23/09/05 18:33:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/05 18:33:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
stationInfo_df = spark.read.csv("data/Fuel_Station_Information.csv", header=True, inferSchema=True)

hourlyPrices_df = spark.read.csv("data/Hourly_Gasoline_Prices.csv", header=True, inferSchema=True)

In [5]:
print(hourlyPrices_df.printSchema(), stationInfo_df.printSchema())

root
 |-- Id: integer (nullable = true)
 |-- isSelf: integer (nullable = true)
 |-- Price: double (nullable = true)
 |-- Date: timestamp (nullable = true)

root
 |-- Id: string (nullable = true)
 |-- Fuel_station_manager: string (nullable = true)
 |-- Petrol_company: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Station_name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitudine: string (nullable = true)

None None

In [6]:
# Remove Duplicates
hourlyPrices_df = hourlyPrices_df.dropDuplicates()
stationInfo_df = stationInfo_df.dropDuplicates()

In [7]:
# Drop rows with any null values
hourlyPrices_df = hourlyPrices_df.dropna()
stationInfo_df = stationInfo_df.dropna()

In [8]:
stationInfo_df = stationInfo_df.drop("Fuel_station_manager")

In [9]:
hourlyPrices_df = hourlyPrices_df.withColumn("Date", to_timestamp(col("Date"), "yyyy-MM-dd HH:mm:ss"))

In [10]:
hourlyPrices_df.write.parquet("data/cleaned_fuel_prices.parquet")
stationInfo_df.write.parquet("data/cleaned_station_info.parquet")

23/09/05 18:34:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [11]:
fuel_prices_df = spark.read.parquet("data/cleaned_fuel_prices.parquet")
station_info_df = spark.read.parquet("data/cleaned_station_info.parquet")

In [12]:
def convert_to_euro(usd_price):
    # API URL to fetch the exchange rate
    api_url = "https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/usd/eur.json"
    
    # Fetch exchange rate data from the API
    response = requests.get(api_url)
    exchange_rate_data = response.json()
    
    # Extract the exchange rate
    exchange_rate = exchange_rate_data["eur"]
    
    # Convert USD to Euro
    euro_price = usd_price * exchange_rate
    return euro_price

In [13]:
# Apply the UDF to convert prices from USD to Euro
fuel_prices_df = fuel_prices_df.withColumn("Price_Euro", convert_to_euro(col("Price")))
# Round the Euro prices to three decimal units
fuel_prices_df = fuel_prices_df.withColumn("Price_Euro_Rounded", round(col("Price_Euro"), 3))

# Drop the "Price_Euro" column
fuel_prices_df = fuel_prices_df.drop("Price_Euro")

# Show the updated DataFrame
fuel_prices_df.show()

+-----+------+-----+-------------------+------------------+
|   Id|isSelf|Price|               Date|Price_Euro_Rounded|
+-----+------+-----+-------------------+------------------+
| 5079|     1|1.809|2022-01-04 06:39:09|             1.678|
|38752|     1|1.804|2022-01-04 07:18:19|             1.674|
|51635|     0|1.974|2022-01-04 07:39:23|             1.831|
| 6810|     0|2.009|2022-01-04 07:50:04|             1.864|
| 4983|     0|1.758|2022-01-04 07:55:36|             1.631|
|51790|     1|1.819|2022-01-04 08:50:47|             1.687|
|42708|     0|2.064|2022-01-04 08:51:50|             1.915|
|48545|     1|1.799|2022-01-04 09:26:35|             1.669|
|46455|     0|1.954|2022-01-04 12:14:28|             1.813|
|47555|     0|2.048|2022-01-04 12:58:37|               1.9|
| 6711|     1|1.819|2022-01-04 13:15:06|             1.687|
|31878|     1|1.784|2022-01-04 13:15:25|             1.655|
|52822|     1|1.769|2022-01-04 13:19:01|             1.641|
|51870|     0|2.054|2022-01-04 13:40:13|             1.905|
|46259|     0|1.959|2022-01-04 13:46:46|             1.817|
| 3598|     1|1.859|2022-01-04 14:08:03|             1.725|
|37707|     1|1.669|2022-01-04 14:28:04|             1.548|
|30753|     1|1.799|2022-01-04 14:42:39|             1.669|
|46342|     0|1.954|2022-01-04 14:46:33|             1.813|
| 9352|     1|1.698|2022-01-04 14:53:36|             1.575|
+-----+------+-----+-------------------+------------------+
only showing top 20 rows

In [14]:
# Find the maximum price
max_price = fuel_prices_df.agg(max("Price")).collect()[0][0]

# Find the ID with the highest price
highest_price_id = fuel_prices_df.filter(col("Price") == max_price).select("Id").first()[0]

# Order the data by price in descending order
sorted_prices_df = fuel_prices_df.orderBy(col("Price").desc())

# Calculate the average price
average_price = fuel_prices_df.agg({"Price": "avg"}).collect()[0][0]

# Display the results
print("ID with Highest Price:", highest_price_id)
print("Maximum Average Price:", average_price)

ID with Highest Price: 54771
Maximum Average Price: 1.835294686861716

In [15]:
fuel_prices_df = fuel_prices_df.withColumn("Day_of_Week", date_format(col("Date"), "E"))

day_sales_df = fuel_prices_df.groupBy("Day_of_Week").agg(F.count("*").alias("Sales_Count"))

# Order the data by sales count in descending order to rank the days
window_spec = Window.orderBy(col("Sales_Count").desc())
day_sales_ranked_df = day_sales_df.withColumn("Rank", F.rank().over(window_spec))

day_sales_ranked_df.show()

23/09/05 18:34:52 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/09/05 18:34:52 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/09/05 18:34:52 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/09/05 18:34:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/09/05 18:34:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/09/05 18:34:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----------+-----------+----+
|Day_of_Week|Sales_Count|Rank|
+-----------+-----------+----+
|        Mon|     410910|   1|
|        Thu|     385288|   2|
|        Wed|     375737|   3|
|        Tue|     363014|   4|
|        Fri|     362752|   5|
|        Sat|     308091|   6|
|        Sun|     238545|   7|
+-----------+-----------+----+

In [17]:
station_info_df_copy = station_info_df.select(
    [col(col_name).alias(col_name + "_d2") for col_name in station_info_df.columns]
)

df_joined = station_info_df.crossJoin(station_info_df_copy)

In [19]:
# Convert string columns to float using the `cast` function
df_joined = df_joined.withColumn("Latitude", df_joined["Latitude"].cast(FloatType()))
df_joined = df_joined.withColumn("Longitudine", df_joined["Longitudine"].cast(FloatType()))
df_joined = df_joined.withColumn("Latitude_d2", df_joined["Latitude_d2"].cast(FloatType()))
df_joined = df_joined.withColumn("Longitudine_d2", df_joined["Longitudine_d2"].cast(FloatType()))

In [20]:
print(df_joined.printSchema())

root
 |-- Id: string (nullable = true)
 |-- Petrol_company: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Station_name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitudine: float (nullable = true)
 |-- Id_d2: string (nullable = true)
 |-- Petrol_company_d2: string (nullable = true)
 |-- Type_d2: string (nullable = true)
 |-- Station_name_d2: string (nullable = true)
 |-- City_d2: string (nullable = true)
 |-- Latitude_d2: float (nullable = true)
 |-- Longitudine_d2: float (nullable = true)

None

In [21]:
# Define a user-defined function (UDF) to calculate distances
@udf(FloatType())
def calculate_distance(lat1, lon1, lat2, lon2):
    return haversine((lat1, lon1), (lat2, lon2), unit=Unit.KILOMETERS)

# Add a new column 'Distance_between' to the DataFrame using the UDF
result_df = df_joined.withColumn("Distance_between", calculate_distance(
    col("Latitude"), col("Longitudine"), col("Latitude_d2"), col("Longitudine_d2")
))

# Select the desired columns
result_df = result_df.select("Id", "Petrol_company", "Type", "Station_name", "City", "Id_d2", "Petrol_company_d2", "Type_d2", "Station_name_d2", "City_d2", "Distance_between")

# Show the resulting DataFrame
result_df.show(truncate=False)

+-----+--------------+--------+--------------------------------+----------+-----+-----------------+--------+-------------------------------------------------------------------+------------------------+----------------+
|Id   |Petrol_company|Type    |Station_name                    |City      |Id_d2|Petrol_company_d2|Type_d2 |Station_name_d2                                                    |City_d2                 |Distance_between|
+-----+--------------+--------+--------------------------------+----------+-----+-----------------+--------+-------------------------------------------------------------------+------------------------+----------------+
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|11461|Q8               |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47                                   |AYMAVILLES              |0.0             |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|35245|Agip Eni         |Stradale|Castel di Lama Carburanti                                          |CASTEL DI LAMA          |603.6458        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|47721|Esso             |Stradale|ESSO                                                               |SAN BENEDETTO DEL TRONTO|610.89276       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|16199|Api-Ip           |Stradale|Distributore carburanti                                            |NAVELLI                 |646.0504        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|37440|Tamoil           |Stradale|LATERINA                                                           |LATERINA                |429.86057       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|11465|Q8               |Stradale|SAN GIOVANNI VALDARNO-VIALE RISORGIMENTO 4/A                       |SAN GIOVANNI VALDARNO   |414.88522       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|11474|Q8               |Stradale|ASTI-CORSO ALBA 19                                                 |ASTI                    |117.09203       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|36385|Api-Ip           |Stradale|DISTRIBUTORE CARBURANTI EREDI CAMPIDONICO SPA NIZZA MONFERRATO (AT)|NIZZA MONFERRATO        |135.3866        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|40535|Beneco           |Stradale|Stazione di servizio San Mango sul Calore                          |SAN MANGO SUL CALORE    |818.0743        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|32170|Repsol           |Stradale|REPSOL                                                             |TORRE LE NOCELLE        |807.5878        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|27670|Pompe Bianche    |Stradale|EUROCARBURANTI SRL                                                 |ALTAMURA                |927.87744       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|52289|Dill s           |Stradale|DIMA SRL                                                           |BARI                    |930.21906       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|35665|Agip Eni         |Stradale|PV 55366 Corato                                                    |CORATO                  |897.74536       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|18883|Q8               |Stradale|STAZIONE Q8 DEI F.LLI CALIA                                        |MODUGNO                 |924.3354        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|31826|Q8               |Stradale|STAZIONE DI SERVIZIO  Q8 DI NORIS G                                |GRASSOBBIO              |192.32019       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|6207 |Agip Eni         |Stradale|AREA DI SERVIZIO OASI                                              |GRUMELLO DEL MONTE      |204.30843       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|11991|Agip Eni         |Stradale|ENI ARIOLI ALDO                                                    |OSIO SOTTO              |182.65205       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|22458|Pompe Bianche    |Stradale|TREVIGLIO - VIA BERGAMO 90                                         |TREVIGLIO               |184.17159       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|17945|Agip Eni         |Stradale|Distributore carburanti eni 25549                                  |BENTIVOGLIO             |345.51196       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|8863 |Q8               |Stradale|Q8                                                                 |BOLOGNA                 |352.43304       |
+-----+--------------+--------+--------------------------------+----------+-----+-----------------+--------+-------------------------------------------------------------------+------------------------+----------------+
only showing top 20 rows

In [22]:
# Filter the DataFrame to select stations within 100 kilometers
filtered_df = result_df.filter(result_df["Distance_between"] < 100)

# Show the filtered DataFrame
filtered_df.show(truncate=False)

23/09/05 18:36:07 WARN ExtractPythonUDFFromJoinCondition: The join condition:(calculate_distance(cast(Latitude#120 as float), cast(Longitudine#121 as float), cast(Latitude_d2#247 as float), cast(Longitudine_d2#248 as float))#384 < 100.0) of the join plan contains PythonUDF only, it will be moved out and the join plan will be turned to cross join.

+-----+--------------+--------+--------------------------------+----------+-----+-----------------+--------+------------------------------------+------------------+----------------+
|Id   |Petrol_company|Type    |Station_name                    |City      |Id_d2|Petrol_company_d2|Type_d2 |Station_name_d2                     |City_d2           |Distance_between|
+-----+--------------+--------+--------------------------------+----------+-----+-----------------+--------+------------------------------------+------------------+----------------+
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|11461|Q8               |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47    |AYMAVILLES        |0.0             |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|29453|Api-Ip           |Stradale|TotalErg                            |CHIERI            |88.12894        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|31773|Pompe Bianche    |Stradale|GIODA AGOSTINO SRL -G.P.L.          |VENARIA REALE     |72.07052        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|53162|Esso             |Stradale|EGI-2GO VILLADOSSOLA                |VILLADOSSOLA      |89.19637        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|50937|Api-Ip           |Stradale|I P                                 |CRESCENTINO       |85.81389        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|29047|Api-Ip           |Stradale| ip pinet jimmy                     |VERRE'S           |34.593204       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|10540|Pompe Bianche    |Stradale|CENTRO CALOR BRICHERASIO            |BRICHERASIO       |97.49551        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|11876|Q8               |Stradale|IVREA-VIA TORINO 216                |IVREA             |57.027435       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|53366|Api-Ip           |Stradale|ip                                  |RIVOLI            |72.784096       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|50928|Agip Eni         |Stradale|ENI 782                             |STRAMBINO         |60.542595       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|48737|Carrefour        |Stradale|Carrefour Bramante                  |TORINO            |80.65358        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|18902|Esso             |Stradale|esso autostazione cigna             |TORINO            |77.05835        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|52468|Api-Ip           |Stradale|IP - Torino Corso Casale 306        |TORINO            |79.44528        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|6388 |Q8               |Stradale|TORINO C.SO GIULIO CESARE 276       |TORINO            |75.737564       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|48368|Europam          |Stradale|EUROPAM                             |DOMODOSSOLA       |93.57127        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|34187|DIS-CAR          |Stradale|DISCAR CERESOLE REALE               |CERESOLE REALE    |30.389612       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|11462|Q8               |Stradale|ANTEY SAINT'ANDRE-FRAZIONE FILEY 21A|ANTEY-SAINT-ANDRE'|29.107336       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|22073|GO               |Stradale|GO NEBBIUNO                         |NEBBIUNO          |99.51585        |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|19989|Tamoil           |Stradale|tamoil                              |CAFASSE           |55.181595       |
|11461|Q8            |Stradale|AYMAVILLES-F.NE VILLETOS S.R. 47|AYMAVILLES|52809|DIS-CAR          |Stradale|DISCAR CHIVASSO                     |CHIVASSO          |72.065605       |
+-----+--------------+--------+--------------------------------+----------+-----+-----------------+--------+------------------------------------+------------------+----------------+
only showing top 20 rows

In [23]:
# Extract the day of the week from the 'Date' column and create a new column 'Day_of_Week'
fuel_prices_df = fuel_prices_df.withColumn("Day_of_Week", date_format(col("Date"), "E"))

# Pivot the table to get counts for each day of the week
pivot_df = fuel_prices_df.groupBy().pivot("Day_of_Week").agg(F.count("*"))

# Display the result
pivot_df.show()

+------+------+------+------+------+------+------+
|   Fri|   Mon|   Sat|   Sun|   Thu|   Tue|   Wed|
+------+------+------+------+------+------+------+
|362752|410910|308091|238545|385288|363014|375737|
+------+------+------+------+------+------+------+

In [24]:
# Stop the SparkSession when you're done
spark.stop()